@charset "UTF-8";
/* Фоны */
/* Цвет текста */
/* Рамки */
/* Размеры */
/* Для формирования контента */
.content-area, .footer-container__content, .bottom-container__content {
  width: 1146px;
  margin: 0 auto;
  position: relative;
  height: 100%; }

body {
  padding: 0;
  margin: 0; }

/* 1146px - контент */
/* 362px - размер инпутов */
.footer-container {
  padding-top: 90px;
  background-color: #1d1d1d;
  height: 556px;
  position: relative; }
  .footer-container__header {
    margin-bottom: 55px; }
  .footer-container__header-text {
    margin: 0;
    font-size: 26pt;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    color: #ffffff; }

/* Форма в футере */
.vm-form {
  width: 362px; }
  .vm-form__input-container {
    margin-bottom: 10px; }
    .vm-form__input-container_more-margin {
      margin-bottom: 15px; }
  .vm-form__input {
    width: 320px;
    background-color: #323232;
    border: #464646;
    outline: none;
    height: 50px;
    padding: 0 20px;
    border: 1px solid #464646;
    font-family: 'Raleway', sans-serif;
    font-size: 18pt;
    color: #696969;
    font-weight: 400; }
    .vm-form__input:focus {
      border: 1px solid #8e8e8e; }
    .vm-form__input::-webkit-input-placeholder {
      font-family: 'Raleway', sans-serif;
      font-size: 18pt;
      color: #696969;
      font-weight: 400; }
    .vm-form__input::-moz-placeholder {
      font-family: 'Raleway', sans-serif;
      font-size: 18pt;
      color: #696969;
      font-weight: 400; }
  .vm-form__textarea {
    width: 320px;
    background-color: #323232;
    border: #464646;
    outline: none;
    height: 170px;
    padding: 20px;
    border: 1px solid #464646;
    font-family: 'Raleway', sans-serif;
    font-size: 18pt;
    color: #696969;
    font-weight: 400;
    resize: none; }
    .vm-form__textarea:focus {
      border: 1px solid #8e8e8e; }
    .vm-form__textarea::-webkit-input-placeholder {
      font-family: 'Raleway', sans-serif;
      font-size: 18pt;
      color: #696969;
      font-weight: 400; }
    .vm-form__textarea::-moz-placeholder {
      font-family: 'Raleway', sans-serif;
      font-size: 18pt;
      color: #696969;
      font-weight: 400; }
  .vm-form__buttons {
    text-align: right; }
  .vm-form__button {
    background-color: #323232;
    border: 1px solid #636363;
    color: #d0d0d0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18pt;
    padding: 15px 60px;
    outline: none; }
    .vm-form__button:hover {
      cursor: pointer; }

.bottom-container {
  background-color: #0d0d0d;
  height: 72px;
  position: relative; }

.copyright {
  color: #c3c3c3;
  float: left;
  line-height: 70px;
  font-family: 'Open Sans', sans-serif; }
  .copyright__text {
    margin: 0;
    font-weight: 400; }
  .copyright__title {
    font-weight: 600;
    color: #ffffff; }

.bottom-menu {
  float: right;
  line-height: 70px; }
  .bottom-menu__links-area {
    list-style: none;
    padding: 0;
    margin: 0; }
  .bottom-menu__item {
    float: left;
    margin-right: 18px; }
    .bottom-menu__item:last-child {
      margin-right: 0; }
  .bottom-menu__link {
    color: #9b9b9b;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14pt; }

.row:after {
  content: '';
  display: block;
  clear: both; }

.col-4 {
  float: left;
  padding-left: 15px;
  width: 367px; }
